.feedContainer {
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem 0rem 15rem;

  .noPost {
    margin-top: 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: gray;
    text-align: center;

    @media screen and (max-width: 480px) {
      background-color: white;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 0;
    margin-top: 2.2rem;
  }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    padding: 0 20px;
  }

  .mightLike {
    font-size: 14x;
    color: rgb(0, 149, 246);
    font-weight: 500;
    display: block;
    text-align: center;
    padding-top: 0.25rem;
  }
}
